{{!< index}}

{{! Comment or uncomment lines below to display necessary social icons.
    And don't forget to insert links! }}

<div class="blog-links">
    <a class="icon-twitter" href="https://twitter.com/0mbre" target="_blank"></a>
    <a class="icon-linkedin" href="http://www.linkedin.com/profile/view?id=75979324" target="_blank"></a>
</div>

{{! Need some more icons? Write me, I'll definitely help you out! }}