{{!< index}}

{{! Comment or uncomment lines below to display necessary social icons.
    And don't forget to insert links! }}

<div class="blog-links">
    <a class="icon-twitter" href="{{! Link to your Twitter goes here, instead of this comment. }}" target="_blank"></a>
    <a class="icon-facebook" href="{{! Link to your Facebook goes here, instead of this comment. }}" target="_blank"></a>
    <a class="icon-dribbble" href="{{! Link to your Dribbble goes here, instead of this comment. }}" target="_blank"></a>
    <a class="icon-linkedin" href="{{! Link to your LinkedIn goes here, instead of this comment. }}" target="_blank"></a>
    <a class="icon-mail" href="mailto:{{! Your e-mail address goes here, instead of this comment. }}" target="_blank"></a>
    <!-- <a class="icon-google-plus" href="{{! Link to your Google Plus goes here, instead of this comment. }}" target="_blank"></a> -->
</div>

{{! Need some more icons? Write me, I'll definitely help you out! }}